



<div class="d-flex justify-content-around">
  <img class="med-img" src="https://scontent-lax3-1.cdninstagram.com/vp/c8f27e9c85755ecce4a9904b8a818793/5D3C073F/t51.2885-15/sh0.08/e35/p640x640/53508390_304999083503706_1781212022336207654_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com" alt="" srcset="">
  <img class="med-img" src="https://scontent-lax3-1.cdninstagram.com/vp/60fdb3ba3dfc0535c702751b25408d45/5D45E8EB/t51.2885-15/sh0.08/e35/s640x640/54231687_423174281777405_5913089997356598775_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com" alt="" srcset="">
</div>








</body>
</html>