<body class="bg-dark-secondary">
  <div class="mt-5 mx-auto container bg-dark-dark card text-dark-theme">
  <h1>New Post</h1>

  <%= render 'form', post: @post %>

  <%# <%= link_to 'Back', posts_path %> 

</div>
</body>